@media (max-width:1500px) {
	#sections_preview {
		padding: 30px
	}

	#sections_preview .section_preview {
		margin-right: 10px
	}
}

@media (max-width:1400px) {
	#wrapper {
		overflow: hidden
	}
}

@media (max-width:1366px) {
	#sections_preview .section_preview {
		width: 45%
	}

	.extra_images_big .extra_info_block.s120,
	.extra_images_big .extra_info_block.s150,
	.extra_images_big .extra_info_block.s200,
	.extra_images_big .extra_info_block.s300 {
		padding: 40px
	}

	.extra_images_big .left {
		width: 50%
	}

	.extra_images_big .left img {
		max-width: 100%
	}
}

@media (max-width:1220px) {
	#wrapper {
		overflow: unset
	}

	#ipad_view,
	#mobile_view,
	li.open_catalog {
		display: none
	}

	#sections_preview .section_preview {
		width: 46%
	}

	.extra_images_big .extra_info_block.s150 .left,
	.extra_images_big .extra_info_block.s150 .right {
		width: 100%;
		float: left
	}

	::-webkit-resizer {
		background-image: url('');
		background-repeat: no-repeat;
		width: 2px;
		height: 1px
	}

	::-webkit-scrollbar {
		width: 2px
	}

	::-webkit-scrollbar-button {
		background: #ececec;
		width: 2px;
		height: 0
	}

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background-color: #5ad0ff;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
	}

	::-webkit-scrollbar-track {
		background-color: #eaeaea
	}
}

@media (max-width:1180px) {
	body {
		background-attachment: fixed
	}

	.section.fixed {
		background-position: center;
		background-size: cover;
		-webkit-overflow-scrolling: touch;
		background-attachment: fixed !important
	}

	.section {
		min-width: 940px
	}

	.section .section_inner,
	.section .section_inner.width1170,
	.section.inner_width .section_inner {
		--section-inner-width: 940px;
		width: 940px
	}

	#img_zoomer_close,
	#img_zoomer_close.portret {
		margin: 0;
		right: 3%;
		top: 3%;
		left: auto
	}

	#img_zoomer_bg {
		min-height: 100%;
		min-width: 100%
	}

	#img_zoomer,
	#img_zoomer.portret,
	#img_zoomer.square {
		height: 90vh;
		width: 90vh;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center center;
		background-size: 100% auto;
		border: none;
		outline: 0
	}

	#img_zoomer.square {
		background-size: contain
	}

	#img_zoomer.portret {
		background-size: auto 65%
	}

	#popup_wrapper {
		width: 90%;
		height: 500px;
		margin: 0;
		left: 5%;
		top: 5%;
		box-sizing: border-box
	}

	#popup_wrapper_line2 {
		width: 80%
	}

	#basket_form_inner {
		width: 90%;
		max-width: 700px;
		height: auto;
		margin: 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding-bottom: 0;
		overflow-y: auto
	}

	#basket_left .btn-group {
		position: relative;
		bottom: unset
	}

	#basket_make_order input,
	#basket_make_order textarea {
		max-width: 100%;
		width: 100%;
		height: 40px
	}

	#basket_left,
	#basket_right {
		overflow-y: visible
	}

	#basket_make_order {
		padding-bottom: 30px
	}

	#basket_make_order textarea {
		max-width: 100%;
		min-width: 100%
	}

	input {
		margin: 0;
		padding: 0
	}

	#img_zoomer {
		max-height: 95%
	}

	#sections_preview .section_preview .image {
		width: 100%
	}
}

@media (max-width:1100px) {
	#sections_preview .section_preview {
		width: 45%
	}

	.extra_images_big .extra_info_block.s120,
	.extra_images_big .extra_info_block.s150,
	.extra_images_big .extra_info_block.s200,
	.extra_images_big .extra_info_block.s300 {
		padding: 40px 20px;
		display: block
	}

	.extra_images_big .extra_info_block .left,
	.extra_images_big .extra_info_block .right {
		float: left;
		width: 100%;
		margin-bottom: 20px
	}

	.extra_images_big .extra_info_block.s200 .left .extra_images_in_card {
		float: left;
		width: 100px;
		margin-right: 10px
	}

	.extra_images_big .extra_info_block.s200 .extra_images_in_card .extra_image {
		margin-bottom: 10px
	}
}

@media (max-width:960px) {

	#img_zoomer,
	#img_zoomer.portret,
	#img_zoomer.square {
		height: 80vw;
		border: none;
		outline: 0;
		width: 80vw;
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center center;
		background-size: 100% auto
	}

	#img_zoomer.portret {
		height: 95vh
	}

	.section {
		min-width: 768px
	}

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 768px;
		width: 768px
	}

	.section .sub_title,
	.section .title {
		margin: 0 auto 15px
	}

	.extra_info_block_wrapper {
		overflow: auto
	}

	.extra_images_big .extra_info_block.s200 .left .extra_images_in_card,
	.extra_info_block .btn1x,
	.extra_info_block .btn2x,
	.extra_info_block .btn3x,
	.extra_info_block .btn4x,
	.extra_info_block .btn5x,
	.extra_info_block .left {
		width: 100%
	}

	.extra_info_block .left img {
		max-width: 100%
	}

	.extra_info_block .left,
	.extra_info_block .right {
		float: none
	}

	.extra_info_block .right {
		margin-top: 20px
	}

	.extra_info_block .right .extra_info1,
	.extra_info_block .right .extra_info2,
	.extra_info_block .right .extra_info3,
	.extra_info_block .right .extra_info4,
	.extra_info_block .right .extra_info5 {
		width: 100%;
		height: auto;
		max-height: none
	}

	.extra_info_block .extra_image.image1,
	.extra_info_block .extra_image.image1_2,
	.extra_info_block .extra_image.image1_3,
	.extra_info_block .extra_image.image1_4 {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		height: 90px;
		width: 126px
	}

	.extra_info_block {
		width: 448px;
		position: relative;
		margin: 0 auto;
		transform: translate(0);
		top: 0;
		left: 0
	}

	#popup_img_prev {
		left: 10px
	}

	#popup_img_next {
		right: 10px
	}

	#sections_preview .section_preview {
		margin-right: 10px;
		margin-bottom: 10px
	}

	.extra_info_block.s120 .left .extra_images_in_card,
	.extra_info_block.s150 .left .extra_images_in_card,
	.extra_info_block.s200 .left .extra_images_in_card,
	.extra_info_block.s300 .left .extra_images_in_card {
		margin-left: 10px
	}

	.extra_info_block.s120 .left,
	.extra_info_block.s150 .left,
	.extra_info_block.s200 .left,
	.extra_info_block.s300 .left {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 85%
	}

	.extra_info_block.s120 .right,
	.extra_info_block.s150 .right,
	.extra_info_block.s200 .right,
	.extra_info_block.s300 .right {
		width: 80%;
		margin: 20px auto 0
	}

	.extra_info_block.s120,
	.extra_info_block.s150,
	.extra_info_block.s200,
	.extra_info_block.s300 {
		width: 560px;
		margin-top: 5vh
	}

	.section.fixed_top {
		padding: 15px 0
	}

	.catalog_items .extra_images_big .extra_info_block .left {
		display: block
	}

	.extra_images_big .extra_info_block .left .extra_images_in_card .extra_image {
		width: auto
	}

	.extra_images_big .extra_info_block.s120 .left .extra_images_in_card,
	.extra_images_big .extra_info_block.s150 .left .extra_images_in_card,
	.extra_images_big .extra_info_block.s200 .left .extra_images_in_card,
	.extra_images_big .extra_info_block.s300 .left .extra_images_in_card {
		margin-left: 0
	}

	.extra_info_block_wrapper.extra_images_big .extra_info_block {
		overflow: auto;
		margin-top: 0
	}

	.extra_info_block_wrapper.extra_images_big {
		overflow: hidden
	}

	.section .price_descr1,
	.section .price_descr1 span {
		font-size: 15px
	}

	.section .logo_text,
	.section .logo_text span {
		margin-bottom: 10px;
		font-size: 18px
	}

	.section .form_title,
	.section .form_title span,
	.section .phone1,
	.section .phone1 span,
	.section .phone2,
	.section .phone2 span {
		font-size: 18px
	}

	.menu_mobile_btn {
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%)
	}

	.menu_mobile_btn.new_burger {
		background-image: none;
		display: flex;
		justify-content: center;
		align-items: center
	}

	.menu_mobile_btn.new_burger.circle {
		border-radius: 50%
	}

	.menu_mobile_btn svg {
		max-width: 32px;
		max-height: 32px;
		fill: currentColor
	}

	.menu_mobile_btn.new_burger.circle svg {
		max-width: 20px;
		max-height: 20px
	}

	.menu_mobile_btn.active svg {
		display: none
	}

	.menu_mobile_btn.active {
		background-color: transparent !important
	}

	body.modal {
		margin-right: 0
	}
}

@media (max-width:860px) {
	#sections_preview .section_preview {
		width: 46%;
		margin-right: 12px
	}
}

@media (max-width:800px) {
	.noise_new {
		background-size: cover
	}

	.content_block {
		display: flex;
		flex-direction: column-reverse
	}

	#basket_left .item.caption,
	.section.hide_in_mobile {
		display: none !important
	}

	#basket_left .item .image,
	#basket_left .item .itogo,
	#basket_left .item .price,
	#basket_left .item .quantity,
	#basket_left .item .title {
		float: none;
		text-align: left;
		margin-left: 0;
		width: 100%;
		line-height: 1.5
	}

	#basket_left .item .title:before {
		display: inline;
		content: "Название: "
	}

	#basket_left .item .quantity:before {
		display: inline;
		content: "Количество: "
	}

	#basket_left .item .price:before {
		display: inline;
		content: "Цена за ед.: "
	}

	#basket_left .item .itogo:before {
		display: inline;
		content: "Итого: "
	}

	#popup_wrapper {
		background-image: none
	}

	#popup_wrapper_line1 {
		font-size: 20px;
		width: 100%;
		padding-top: 10px
	}

	#popup_wrapper .btn {
		width: 250px;
		margin-top: 10px;
		box-sizing: border-box
	}

	.section {
		min-width: 640px;
		padding: 20px 0
	}

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 640px;
		width: 640px
	}

	.menu1.hover_menu_border_bottom li.level0:hover,
	.menu1.hover_menu_border_bottom li.level1:hover,
	.menu1.hover_menu_border_top li.level0:hover,
	.menu1.hover_menu_border_top li.level1:hover {
		border: none;
		border-left: 2px solid;
		padding-left: 8px
	}

	.menu1.hover_menu_border_bottom.hover_menu_border_triangle li.level0:hover::after,
	.section .menu-toogler.active svg {
		display: none
	}

	.menu1.menu_separate li.level0 a {
		border: none
	}

	.extra_info_block .extra_image {
		margin-bottom: 10px
	}

	.extra_info_block {
		width: 440px
	}

	.section .title,
	.section .title * {
		font-size: 28px
	}

	.section .btn_descr,
	.section .btn_descr span {
		font-size: 14px
	}

	.section .menu-toogler.active,
	.section .menu_mobile_btn.active {
		background: url(/img/editor_icons/cancel.svg) center no-repeat rgba(255, 255, 255, .2);
		background-size: 70%;
		transform: translate(0, 0)
	}

	.menu1.menu_separate.animate_menu li.level0 a,
	.menu1.menu_separate.hover_menu_shadow li.level0 a {
		padding: 10px 7px
	}

	.extra_images_big .extra_info_block.s300 .left .extra_images_in_card {
		float: left;
		width: 100px
	}

	.extra_images_big .extra_info_block.s300 .left,
	.extra_images_big .extra_info_block.s300 .right {
		float: left;
		width: 100%
	}

	#basket_left .item {
		position: relative
	}

	.auth_form .forgot_password_show_form,
	.section.hide_in_desktop {
		display: block
	}

	.section .menu-toogler.new_burger {
		background-image: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px
	}

	.section .menu-toogler.new_burger.circle {
		border-radius: 50%
	}

	.section .menu-toogler svg {
		max-width: 32px;
		max-height: 32px;
		fill: currentColor
	}

	.section .menu-toogler.new_burger.circle svg {
		max-width: 20px;
		max-height: 20px
	}

	.section .menu-toogler.active {
		background-color: transparent !important;
		background-image: url(/img/editor_icons/cancel.svg);
		background-position: center center;
		background-repeat: no-repeat
	}

	.section .price1,
	.section .price2 {
		font-size: 20px !important
	}

	.menu_mobile_btn .fa {
		font-size: 36px
	}

	#basket_left .item .image,
	#basket_left .item .image img {
		float: none;
		display: block;
		margin: 0 auto 10px
	}

	.section .logo_text,
	.section .logo_text span {
		margin-bottom: 10px;
		max-width: 220px
	}

	.section .logo_text {
		float: left
	}

	#wrapper .hide_second_li .menu1 ul li.level1.visible {
		height: auto;
		margin-bottom: 5px
	}

	#wrapper .hide_second_li .menu1 ul li.level1~li.level0 {
		color: red
	}

	#wrapper .hide_second_li .menu1 ul li.level1 {
		height: 0;
		overflow: hidden;
		margin-bottom: 0
	}

	#wrapper .menu1 ul li.level1 {
		position: relative !important;
		top: unset !important;
		display: block !important;
		background: 0 0 !important
	}

	#wrapper .menu1 ul .level1 a {
		line-height: 1.5;
		text-align: left
	}

	body.modal {
		margin-right: 0
	}

	.auth_form .auth_form_wrapper,
	.forgot_password .forgot_password_wrapper {
		max-width: 90%
	}
}

@media (max-width:640px) {
	#popup_wrapper {
		background-image: none
	}

	#popup_wrapper_line1 {
		font-size: 20px;
		width: 100%;
		padding-top: 10px
	}

	#popup_wrapper .btn {
		width: 250px;
		margin-top: 10px;
		box-sizing: border-box;
		top: 280px
	}

	.clear360,
	.clear480 {
		display: block
	}

	#popup_wrapper_title,
	.section .title {
		font-size: 22px
	}

	.popup_wrapper_inner {
		width: 100%;
		height: 100%;
		margin-top: 0
	}

	#popup_wrapper_line2 {
		top: 140px
	}

	.popup_wrapper_inner::before {
		top: 5px;
		right: 5px
	}

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 480px;
		width: 480px
	}

	.popup_form_inner {
		left: auto;
		top: auto;
		height: auto;
		padding: 15px;
		width: 80%;
		position: relative;
		margin: 20px auto
	}

	.extra_info_block .extra_images_in_card .extra_image {
		width: 29%;
		height: 80px
	}

	#sections_preview .section_preview {
		width: 100%;
		margin-right: 0
	}

	#sections_preview .sections_preview_block .section_preview .image {
		height: 51vw
	}

	.extra_info_block.s120,
	.extra_info_block.s150,
	.extra_info_block.s200,
	.extra_info_block.s300 {
		width: 375px
	}

	.extra_info_block.s120 .extra_images_in_card .extra_image,
	.extra_info_block.s150 .extra_images_in_card .extra_image,
	.extra_info_block.s200 .extra_images_in_card .extra_image,
	.extra_info_block.s300 .extra_images_in_card .extra_image {
		width: 28%;
		margin-top: 10px
	}

	.auth_form .auth_form_wrapper .row,
	.extra_info_block.s120 .left,
	.extra_info_block.s150 .left,
	.extra_info_block.s200 .left,
	.extra_info_block.s300 .left {
		flex-direction: column
	}

	#basket_descr,
	#basket_form_default_agreement,
	#basket_make_order,
	#basket_title,
	.extra_images_big .extra_info_block.s300 .left .extra_images_in_card,
	.extra_info_block.s120 .left,
	.extra_info_block.s120 .right,
	.extra_info_block.s150 .left,
	.extra_info_block.s150 .right,
	.extra_info_block.s200 .left,
	.extra_info_block.s200 .right,
	.extra_info_block.s300 .left,
	.extra_info_block.s300 .right,
	.field_input_radio>div {
		width: 100%
	}

	#basket_left .btn-group {
		flex-direction: column;
		align-items: center
	}

	#basket_continue {
		margin-right: 0;
		margin-bottom: 15px
	}

	#policy {
		height: 380px;
		left: 50%;
		margin-left: -160px;
		margin-top: 0;
		overflow-y: scroll;
		padding: 20px;
		position: fixed;
		top: 50px;
		width: 280px
	}

	#policy .close_btn {
		margin-bottom: 30px
	}

	.popup_thanks_inner {
		width: 360px;
		margin-left: -210px
	}

	.objtimer .days,
	.objtimer .hrs,
	.objtimer .min,
	.objtimer .sec {
		font-size: 28px
	}

	.objtimer .days_descr,
	.objtimer .hrs_descr,
	.objtimer .min_descr,
	.objtimer .sec_descr {
		font-size: 14px
	}

	.field input[type=submit] {
		font-size: 18px
	}

	.objtimer .days,
	.objtimer .days_descr,
	.objtimer .hrs,
	.objtimer .hrs_descr,
	.objtimer .min,
	.objtimer .min_descr,
	.objtimer .sec,
	.objtimer .sec_descr {
		width: 25%
	}

	.objtimer .hrs,
	.objtimer .hrs_descr {
		left: 25%
	}

	.objtimer .min,
	.objtimer .min_descr {
		left: 50%
	}

	.objtimer .sec,
	.objtimer .sec_descr {
		left: 75%
	}

	.section {
		min-width: 360px;
		padding: 20px 0 !important
	}

	.section.widget {
		padding: 0 !important
	}

	.auth_form .auth_form_wrapper,
	.forgot_password .forgot_password_wrapper {
		height: 100vh;
		max-width: 100%;
		overflow-y: auto
	}

	.auth_form .auth_form_wrapper .row .col {
		width: 100%;
		margin-bottom: 40px
	}

	.my_orders_list {
		display: flex;
		flex-wrap: wrap
	}

	.my_orders_list .order {
		width: 50%
	}

	.my_orders .order_row div {
		margin: 5px 0
	}

	.my_orders .order_row {
		align-items: flex-start;
		flex-direction: column
	}

	#wrapper .popup_video iframe {
		width: 90vw;
		height: 50vw
	}
}

@media (max-width:550px) {
	#basket_right {
		width: 100%;
		max-width: 100%
	}

	#basket_left .item {
		flex-direction: column
	}

	#basket_left .item .remove {
		width: auto;
		font-size: 20px
	}
}

@media (max-width:480px) {

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 360px;
		width: 360px
	}

	.my_orders_list .order {
		width: 100%
	}
}

@media (max-width:440px) {
	.extra_info_block {
		width: 90%
	}

	#popup_wrapper_line2 {
		top: 155px;
		width: 78%;
		font-size: 14px
	}

	#popup_wrapper_line1 {
		font-size: 16px;
		width: 75%
	}

	#popup_wrapper .btn {
		font-size: 20px;
		width: 300px
	}

	#hide_all {
		display: block
	}

	.lock .img {
		width: 60px;
		height: 60px
	}

	.extra_images_big .extra_info_block.s300 .extra_images_in_card .extra_image {
		height: auto
	}

	#basket_left .item .image {
		position: static
	}

	.section .title,
	.section .title * {
		font-size: 26px !important
	}

	.section .sub_title,
	.section .sub_title * {
		font-size: 17px !important
	}
}

@media (max-width:400px) {

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 320px;
		width: 320px
	}

	#policy {
		top: 10px;
		margin-left: -150px;
		width: 260px;
		height: 200px
	}

	.popup_thanks_inner {
		width: 210px;
		margin-left: -135px
	}

	.extra_info_block.s300 .extra_images_in_card .extra_image {
		height: 120px
	}

	.section .sub_title,
	.section .title {
		width: 100%
	}

	.section {
		background-size: cover;
		background-repeat: no-repeat
	}

	.section .logo_text,
	.section .logo_text span {
		font-size: 16px
	}
}

@media (max-width:375px) {
	.clear320 {
		display: block
	}

	.section {
		min-width: 320px
	}

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section.inner_width .section_inner {
		--section-inner-width: 320px;
		width: 320px
	}

	.extra_info_block.s120,
	.extra_info_block.s150,
	.extra_info_block.s200,
	.extra_info_block.s300 {
		width: 95%
	}

	.extra_info_block.s300 .extra_images_in_card .extra_image {
		width: 29%
	}

	.extra_images_big .extra_info_block .left .extra_images_in_card .extra_image {
		width: 25%
	}

	#basket_make_order input,
	#basket_make_order textarea {
		min-width: 100%
	}

	.section .logo_text,
	.section .logo_text span {
		font-size: 15px
	}
}

@media (max-width:325px) {

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 300px;
		width: 300px
	}

	.section {
		min-width: unset
	}
}

@media (max-width:320px) {

	.section .section_inner,
	.section .section_inner.standart,
	.section .section_inner.wide,
	.section .section_inner.width1170,
	.section.inner_width .section_inner,
	.section.inner_width940 .section_inner {
		--section-inner-width: 95%;
		width: 95%
	}
}