{% extends "base.html" %}
{% block body %}
<form action="/senddata" method="post" enctype=multipart/form-data target="_blank">
  <h2>Загрузить игру</h2>
  <fieldset>
    <legend>Основные данные</legend>
      <label for="title">Название игры:</label>
      <input type="text" name="title"  id="title" maxlength="24" required>
  </fieldset>

      <div class="container col-md-6" style="float:right; position: relative; top: -100px; left: 20px">
          <p style="outline:2px solid #555; border-radius:5px; width: 300px; height: 300px;">
          <img id="frame" src="" class="img-fluid" style="max-width: 300px; max-height: 300px;  " /></p>

            <div class="mb-5">
                <input class="form-control" name="prev" type="file" id="formFile" onchange="preview()" accept="image/png" required>
            </div>
      </div>
      <script>
            function checkImageSize(file) {
    return new Promise((resolve, reject) => {
        const img = new Image();
        img.onload = () => {
            if (img.width === img.height){
                resolve();
            } else {
                reject(new Error('Изображение должно быть квадратным и иметь расширение .png!'));
            }
        };
        img.src = URL.createObjectURL(file);
    });
}
function clearInputField() {
            document.getElementById('myForm').reset();
        }
// Показ изображения (мне пришлось читать гайды по джаваскрипту аааа)
function preview() {
    const file = event.target.files[0];
    checkImageSize(file)
        .then(() => {
            frame.src = URL.createObjectURL(file);
        })
        .catch(error => {
            alert(error.message);
            document.getElementById('formfile').value = null;
        });
}

// ОЧистка изображения
function clearimage() {
    document.getElementById('formfile').value = null;
    frame.src = "";
}
      </script>

  <fieldset>
      <legend>Дополнительные данные</legend>
      <div>
          <textarea name="desc" placeholder="Добавьте краткое описание игры" id="desc" style="width: 312px; height: 150px;" required></textarea>
      </div>
      <div>

      </div>
  </fieldset>
    <fieldset>
        <div>
            <legend for="file" class="form-label">Zip архив с игрой </legend>
            <input class="form-control form-control-lg" name="file" id="file" type="file" accept=".zip" required>
            <script>
document.getElementById('file').onchange = function(e) {
    if(!e.target.files[0].name.match(/\.(zip)$/)) {
        alert('Принимаются только архивы форматов .zip!');
        e.target.value = '';
    }
};
</script>
        </div>
        <div style>
            <legend for='files'>Выберите дополнительные файлы: </legend>
            <label>Поддерживаются только png!</label>
            <input id='files' type='file' name="files" multiple/>
            <output id='result' />
            <script>
window.onload = function() {
  if (window.File && window.FileList && window.FileReader) {
    var filesInput = document.getElementById("files");
    filesInput.addEventListener("change", function(event) {
      var files = event.target.files;
      var output = document.getElementById("result");
      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        if (!file.type.match('png'))
          continue;
        var picReader = new FileReader();
        picReader.addEventListener("load", function(event) {
          var picFile = event.target;
          var div = document.createElement("div");
          div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
            "title='" + picFile.name + "'/>";
          output.insertBefore(div, null);
        });
        picReader.readAsDataURL(file);
      }
    });
  } else {
    console.log("Ваш браузер отвратителен и не поддерживает мою гениальность :)");
  }
}
        </script>
        </div>
    </fieldset>
    <div>
            <button type="submit">Отправить</button>
        </div>
</form>
{% endblock %}