{% extends "base.html" %}
{% block body %}
<div id="wrupper" style="max-height: 100%">
    <div id="head" style="display: flex; max-width: 100%;">
        <p id="frame" style="outline:2px solid #555; border-radius:5px; width: 6vw; height: 6vw;">
            <img id="prev" src="{{api_url}}/file?p={{game['prev']}}" class="img-fluid"
                 style="max-width: 6vw; max-height: 6vw"/>
        </p>
        <div id="title_author" style="margin-left: 1vw; margin-right: 1vw">
            <div id="title" class="fw-bold text-center"
                 style="text-align:center; font-size: 42px; height: 3vw; text-align: center; vertical-align: middle; line-height: 3vw;">
                {{ game['title'] }}
            </div>
            <div id="author">{{ game['author'] }}</div>
        </div>
        <div id="rating" style="outline:2px; solid #555; border-radius:5px; width: 20vw; height: 3vw;">
            <script>
                function displayRating(rating) {
                    var starsHTML = '';

                    // Полные звезды
                    for (var i = 1; i <= Math.floor(rating); i++) {
                        starsHTML += '<span class="fa fa-star checked"></span>';
                    }

                    // Половинки или оставшиеся части звезд
                    if (rating % 1 !== 0) {
                        starsHTML += '<span class="fa fa-star-half checked"></span>';
                        for (var j = 0; j < 4 - Math.ceil(rating % 1) * 4; j++) {
                            starsHTML += '<span class="fa fa-star"></span>';
                        }
                    } else {
                        for (var k = 0; k < 5 - Math.floor(rating); k++) {
                            starsHTML += '<span class="fa fa-star"></span>';
                        }
                    }

                    // Отображение среднего рейтинга под звездами
                    starsHTML += '<br>Средний рейтинг: ' + rating.toFixed(1);

                    document.getElementById('rating').innerHTML = starsHTML;
                }

                var rating = {{ game['rate'] }};
                displayRating(rating);
            </script>

        </div>
    </div>


    <div id="info" style="width: 48vw">
        <p id="infoframe" style="outline:2px solid #555; border-radius:5px; width: 100%; min-height: 15vw;">
            {{game['desc']}}
        </p>
        <div id="imgframe" style="width: 100%">
            <div id="images" class="carousel slide carousel" data-bs-ride="carousel"
                 style="width: max-content; margin: auto">
                <div class="carousel-inner">
                    {% for image in game['images'] %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{api_url}}/file?p={{image['img']}}" class="d-block w-100"
                             style="max-width: 20vw;max-height: 20vw;">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#images" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущая</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#images" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующая</span>
                </button>
            </div>
        </div>
    </div>

    <div id="buttons" style="display: flex">
        <div id="download" style="width: 10vw">
            <h3>Скачать игру!</h3>
            <a href={{api_url}}/file?p={{game['file']}}>
                <button type="submit" class="btn btn-outline-info">Украсть!</button>
            </a>
        </div>
        {% if current_user.is_authenticated and current_user.id == game['author_id'] %}
        <div id="delete_nahren" style="width: 10vw; margin-left: 28vw">
            <h3 style="float: right">Удалить игру!</h3>
            <button type="submit" class="btn btn-outline-danger" style="float: right" onclick="confirmDelete()">
                Удалить!
            </button>
        </div>
        {% endif %}

        <script>
            function confirmDelete() {
                if (confirm("Вы уверены, что хотите удалить эту игру?")) {
                    window.location.href = "/delete/{{ game['id'] }}";
                }
            }
        </script>
    </div>
    <div id="comment_section">
        <h3 style="margin-top: 10vw">Комментарии</h3>
        <div id="comment_post">
            <div class="card" style="display: flex; width: 100%; border: none; margin: auto;">
                Ваш комментарий:
                <div class="comment-box ml-2">
                    <form action="/send_comment/{{game['id']}}" method="POST">
                        <div class="comment-area" style="float: left; width: 100%; min-height: 10vw">
                        <textarea class="comment-text" name="review" placeholder="Введите комментарий" rows="4"
                                  style="resize: none; width: 100%; height: 10vw"></textarea>
                        </div>

                        <div id="rating+words" style="width: 100%">
                            <div id="words" style="width: 100%; text-align: end">
                                Ваша оценка:
                            </div>

                            <div class="rating"
                                 style="display: flex; flex-direction: row-reverse; width:16vw; float: right">
                                <input type="radio" name="mark" value="5" id="5" style="display: none">
                                <label for="5" style="width: 3vw; font-size: 3vw; color: #fff700; cursor: pointer;
                                margin-left: 3px;">☆</label>

                                <input type="radio" name="mark" value="4" id="4" style="display: none">
                                <label for="4" style="width: 3vw; font-size: 3vw; color: #fff700; cursor: pointer;
                                margin-left: 3px;">☆</label>

                                <input type="radio" name="mark" value="3" id="3" style="display: none">
                                <label for="3" style="width: 3vw; font-size: 3vw; color: #fff700; cursor: pointer;
                                margin-left: 3px;">☆</label>

                                <input type="radio" name="mark" value="2" id="2" style="display: none">
                                <label for="2" style="width: 3vw; font-size: 3vw; color: #fff700; cursor: pointer;
                                margin-left: 3px;">☆</label>

                                <input type="radio" name="mark" value="1" id="1" style="display: none">
                                <label for="1" style="width: 3vw; font-size: 3vw; color: #fff700; cursor: pointer;
                                margin-left: 3px;">☆</label>
                            </div>
                        </div>

                        <div id="button" style="width: 100%; clear: both; text-align: end">
                            <button type="submit" class="btn btn-outline-success-">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-send" viewBox="0 0 16 16">
                                    <path
                                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z">
                                    </path>
                                </svg>
                                Прокомментировать!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="comments_get">
        {% for comment in game['comments'] %}
        <div class="comment">
            <div class="author">{{ comment['user'] }}</div>
            <div class="text">{{ comment['message'] }}</div>
            <div class="rating" style="color: #ffd700; font-size: 20px;">
                {% for _ in range(comment['mark']) %}
                ★
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}