{% extends "base.html" %}
{% block body %}
<div class="logbut">
    {% if current_user.is_anonymous %}
    <a href="/login" class="btn btn-dark">Войти/Зарегистрироваться</a>
    {% else %}
    <p style="float: left; font-size:16px; margin: 36px" class="badge bg-primary text-wrap">Здравствуйте, {{current_user.login}}</p>
    <a href="/logout" class="btn btn-dark">Выйти</a>
    {% endif %}
</div>
<table>
        <tr>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                Первый элемент
            </td>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                Второй элемент
            </td>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                Третий элемент
            </td>
        </tr>
</table>

{% endblock %}