{% extends "base.html" %}
{% block body %}
<div class="logbut" style="position:absolute; top:50px; right:32px">
    {% if current_user.is_anonymous %}
    <a href="/login" class="btn btn-danger">Войти/Зарегистрироваться</a>
    {% else %}
    <p style="font-size:16px; margin: 36px" class="badge bg-primary text-wrap btn btn-danger">Текущий пользователь: {{current_user.login}}</p>
    <a href="/logout" class="btn btn-danger">Выйти</a>
    {% endif %}
</div>
{% for game in game_dict %}
<div class="col-4">
  <div class="card">
    <img src="{{game['prev']}}" class="card-img" alt="картиначка">
    <div class="card-body">
      <h5 class="card-title">{{ game['title'] }}</h5>
      <p class="card-author">{ game['author'] }}</p>
    </div>
  </div>
</div>
{% endfor %}
<!--
<table>
        <tr>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                <div class="gamebox">
                    <img alt="Коробочка1" src="{{ url_for('static', filename='external/rectangle11056-49a9-300h.png')}}" class="desktop1-rectangle1"/>
                    <img alt="Коробочка2" src="{{ url_for('static', filename='external/rectangle41060-nzf-200w.png')}}" class="desktop1-rectangle4"/>
                    <span class="desktop1-text06">
                        <span>4.7</span>
                    </span>
                    <img alt="Star11062" src="{{ url_for('static', filename='external/star11062-gps.svg')}}" class="desktop1-star1"/>
                    <img alt="Star21065" src="{{ url_for('static', filename='external/star21065-xyfd.svg')}}" class="desktop1-star2"/>
                    <img alt="Star31066" src="{{ url_for('static', filename='external/star31066-9am.svg')}}" class="desktop1-star3"/>
                    <img alt="Star41067" src="{{ url_for('static', filename='external/star41067-tm9c.svg')}}" class="desktop1-star4"/>
                    <img alt="Star51068" src="{{ url_for('static', filename='external/star51068-xnve.svg')}}" class="desktop1-star5"/>
                    <div class="desktop1-frame3">
                        <span class="desktop1-text08">
                            <span>Dungeons &amp; Mathematics</span>
                        </span>
                    </div>
                    <span class="desktop1-text10">
                        <span>Bazinga228</span>
                    </span>
                </div>
            </td>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                Второй элемент
            </td>
            <td style="width: 33.33vw; text-align: center; padding: 10px; margin: 20px 0">
                Третий элемент
            </td>
        </tr>
</table> -->

{% endblock %}