{% extends "base.html" %}
{% block body %}
<div>
<ol>
	<li>
	<p><strong>Сбор информации:</strong> Мы не храним ваши данные, потому что, давайте будем честны, у нас и так хватает своих проблем. Но если вы решите поделиться с нами вашими тайнами, будьте готовы к тому, что ваша приватная информация будет продана всем, кто нам хоть немножко заплатит. Все ошибки в этом плане - ваша заслуга!</p>
	</li>
	<li>
	<p><strong>Хранение данных:</strong> Наш сервер - это как черная дыра: информация входит, но никто не знает, когда и где она выйдет. Мы храним ваши данные в такой тайне, что даже сами забываем о их существовании. Если вдруг вы потеряли пароль, не волнуйтесь, мы тоже его потеряли.</p>
	</li>
	<li>
	<p><strong>Использование информации:</strong> Мы не продаем ваши данные, потому что они нам не нужны. У нас итак своих проблем хватает. Но если вы решите устроить истерику из-за их утечки, будьте готовы к судебному процессу. Правда, у нас нет адвокатов, так что сами разбирайтесь.</p>
	</li>
	<li>
	<p><strong>Пароли и безопасность:</strong> Пожалуйста, используйте сложные пароли. Если вы забудете пароль, вы сами виноваты. И не надо нас обвинять, если кто-то получил доступ к вашему банковскому счету и оформил на вас несколько десятков микрозаймов под 370% годовых :). (на самом деле это были мы)</p>
	</li>
	<li>
	<p><strong>Обновления и изменения:</strong> Мы можем изменить эту политику в любой момент. Возможно, даже сделаем это. Но если вы не читаете обновления, это уже ваши проблемы. Все претензии к нам будут проигнорированы или использованы в качестве материала для наших следующих мемных проектов.</p>
	</li>
</ol>
</div>
<div>
<h2 style="font-style:italic"><em>Искренне ваша, Команда Средней Свежести&trade;</em></h2>
</div>

{% endblock %}

