{% extends "base.html" %}a
{% block body %}
<ol>
    <li>
        <p><strong>Согласие пользователя:</strong> Используя наш сервис, вы соглашаетесь на все капризы, требования и
            внезапные прихоти, которые могут возникнуть у нас по ходу дела. В конце концов, это наш мир, а вы просто в
            нем живете. Также вы обязуетесь не быть полным дауном и не ломать наш сайт. В случае претензий по этому
            поводу, мы забаним вас на нашем прекрасном сайте и вызовем тактический ядерный удар по месту вашей
            дислокации. Подробнее о том как мы узнали место в <a href="/privacy">политике конфиденциальности</a></p>
    </li>
    <li>
        <p><strong>Отказ от ответственности:</strong> Мы не несем ответственности за ничто. Ни за утрату данных, ни за
            ваше испорченное настроение. Если что-то пойдет не так, помните, что жизнь - это лотерея, а мы просто играем
            в нее вместе с вами.</p>
    </li>
    <li>
        <p><strong>Изменения в условиях использования:</strong> Мы можем менять правила игры, когда захотим. Если вы не
            согласны с этим, пожалуйста, закройте эту страницу и поищите другие развлечения в интернете. Мир широк, а
            наши правила еще шире.</p>
    </li>
    <li>
        <p><strong>Интеллектуальная собственность:</strong> Весь контент, который вы видите на нашем сайте, принадлежит
            нам, пока мы не решим обратного.Все данные, которые вы нам отправляете также принадлежат нам и Вы должны
            будете платить нам за предоставление наших услуг и использование нашей интеллектуальной собственности. Вы
            также можете делиться ссылками и цитировать нас, но не забывайте, что мы всегда следим за вами. Всегда.</p>
    </li>
    <li>
        <p><strong>Правовая юрисдикция:</strong> В случае любых споров, конфликтов или недопониманий, вы соглашаетесь
            поплакать об этом в подушку.</p>
    </li>
</ol>

<p><em><strong><span style="font-size:48px"><span style="font-family:Comic Sans MS,cursive">Все еще искренне ваша, Команда Средней свежести&trade;</span></span></strong></em>
</p>


{% endblock %}