name: "YStore"

services:
  api:
    build: api/
    restart: unless-stopped
    environment:
      - API_HOST=0.0.0.0
      - API_PORT=5000
      - API_SECRET_KEY=phptop
    ports:
      - "5000:5000"

  render-back:
    build: renderBack/
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "80:5050"
    environment:
      - NEAPI_HOST=0.0.0.0
      - NEAPI_PORT=5050
      - NEAPI_SECRET_KEY=phptop
      - API_HOST=api
      - API_PORT=5000
      - PUBLIC_API_URL=http://localhost:5000
