name: "YStore"

services:
  api:
    build: api/
    restart: unless-stopped
    environment:
      - API_HOST=${API_HOST}
      - API_PORT=${API_PORT}
      - API_SECRET_KEY=${API_SECRET_KEY}
    ports:
      - ${API_PORT}:${API_PORT}

  render-back:
    build: renderBack/
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - 80:${NEAPI_PORT}
    environment:
      - NEAPI_HOST=${NEAPI_HOST}
      - NEAPI_PORT=${NEAPI_PORT}
      - NEAPI_SECRET_KEY=${NEAPI_SECRET_KEY}
      - API_HOST=${NEAPI_API_HOST}
      - API_PORT=${API_PORT}
      - PUBLIC_API_URL=${PUBLIC_API_URL}
