.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-image1button {
  top: 0px;
  left: 0px;
  width: 408px;
  height: 127px;
  position: absolute;
}
.desktop1-line1 {
  top: 128px;
  left: -0.00067138671875px;
  width: 100%;
  height: 10px;
  position: absolute;
}
.desktop1-line2 {
  top: 128px;
  left: 128px;
  width: 10px;
  height: 100%;
  position: absolute;
}
.desktop1-frame4 {
  gap: 10px;
  top: 18px;
  left: 1005px;
  width: 417px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.desktop1-logbutton {
  width: 397px;
  height: 57px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-frame1button {
  gap: -9px;
  top: 0px;
  left: 0px;
  width: 397px;
  display: flex;
  padding: 14px 30px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 34px;
  justify-content: center;
  background-color: rgba(226, 6, 6, 1);
}
.desktop1-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  top: 148px;
  color: rgba(0, 0, 0, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  top: 223px;
  color: rgba(0, 0, 0, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group1 {
  top: 187px;
  left: 153px;
  width: 375px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle4 {
  top: 0px;
  left: 302px;
  width: 71px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-text06 {
  top: 267px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-star1 {
  top: 13px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star2 {
  top: 62px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star3 {
  top: 111px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star4 {
  top: 160px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star5 {
  top: 209px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-frame3 {
  gap: 10px;
  top: 290px;
  left: 0px;
  width: 373px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.desktop1-text08 {
  color: rgba(0, 0, 0, 1);
  width: 378px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  top: 335px;
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group2 {
  top: 187px;
  left: 595px;
  width: 375px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle11 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle41 {
  top: 0px;
  left: 302px;
  width: 71px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-text12 {
  top: 267px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-star11 {
  top: 13px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star21 {
  top: 62px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star31 {
  top: 111px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star41 {
  top: 160px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star51 {
  top: 209px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-frame31 {
  gap: 10px;
  top: 290px;
  left: 0px;
  width: 373px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.desktop1-text14 {
  color: rgba(0, 0, 0, 1);
  width: 378px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text16 {
  top: 335px;
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group3 {
  top: 187px;
  left: 1037px;
  width: 375px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-rectangle12 {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-rectangle42 {
  top: 0px;
  left: 302px;
  width: 71px;
  height: 300px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
}
.desktop1-text18 {
  top: 267px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-star12 {
  top: 13px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star22 {
  top: 62px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star32 {
  top: 111px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star42 {
  top: 160px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-star52 {
  top: 209px;
  left: 313px;
  width: 48px;
  height: 48px;
  position: absolute;
  box-sizing: content-box;
}
.desktop1-frame32 {
  gap: 10px;
  top: 290px;
  left: 0px;
  width: 373px;
  height: 45px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.desktop1-text20 {
  color: rgba(0, 0, 0, 1);
  width: 378px;
  height: auto;
  font-size: 24px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text22 {
  top: 335px;
  color: rgba(0, 0, 0, 1);
  width: 375px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
