body {
    background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
}
a {
    font-family: "Pangolin", cursive;
    font-style: normal;
}
p{
    font-family: "Pangolin", cursive;
    font-style: normal;
}
div{
    font-family: "Pangolin", cursive;
    font-style: normal;
}
.container {
    max-width: 100%;
    font-size: 24px;
    font-family: "Pangolin", cursive;
    font-style: normal;
}

.pricing-header {
  max-width: 1%;
}
.navigation{
    display: inline-block;
    float: left
}
.contentik {
    display: inline-block;
    float: left
}
.thumbnail {
  height: 100px;
  margin: 10px;
}
@media (min-width: 992px) {
  .navbar,
  .navbar-collapse {
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
  .navbar {
    width: 140px;
    height: 100vh;
    align-items: flex-start;
  }
  .navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
  }
  form input {
    margin-bottom: 0.7em;

  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }

  li:last-child {
    border-bottom: none;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
}
